include emstanza/stanza_models/
include emstanza/stanza_models/hu
include emstanza/stanza_models/hu/pretrain
include emstanza/stanza_models/hu/pretrain/szeged.pt
include emstanza/stanza_models/hu/pos
include emstanza/stanza_models/hu/pos/szeged.pt
include emstanza/stanza_models/hu/lemma
include emstanza/stanza_models/hu/lemma/szeged.pt
include emstanza/stanza_models/hu/tokenize
include emstanza/stanza_models/hu/tokenize/szeged.pt
include emstanza/stanza_models/hu/depparse
include emstanza/stanza_models/hu/depparse/szeged.pt
include emstanza/stanza_models/resources.json
